<div class="row">
<% @forums.each do | forum | %>
  <div class="col-lg-4">
    <div class="panel panel-primary">
        <div class="panel-heading"><%= forum.title %></div>
        <%= link_to "View More", forum_path(forum), class: "btn" %>
    </div>
  </div>
<% end %>
</div>
